{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 Firefox versions, last 2 Chrome versions, edge 16"
        }
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-class-properties"
  ]
}